[submodule "robots"]
	path = robots
	url = https://github.com/work-r-labs/robots.git
[submodule "isaacsim_typings"]
	path = isaacsim_typings
	url = https://github.com/work-r-labs/isaacsim_typings.git
